@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1>The Joel Hilton Film Collection</h1> <!-- Heading on home page-->
</div>

<img src="~/img/JoelHiltonHeadshot.jpg" class="img card-img-bottom"> <!-- Image on home page -->


