@{
    ViewData["Title"] = "My Podcast"; <!-- Podcast View -->
}
<h1>@ViewData["Title"]</h1>

<p>Here is a link to my podcast, <a href="https://baconsale.com/"> Baconsale </a>.</p> <!-- Podcast link -->
